<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Basic example</title>
  </head>
  <body>
    <%# This is example comment. %>
    <h1>hello, <%= name %>!</h1>
  </body>
</html>
