<html>
  <head>
    <title>hello</title>
  </head>
  <body>
    <% for (let i = 0; i < 10; i++) { const name = 'world'; const num = 3; %>
    <div class="row">
      <% for (let j = 0; j < 10; j++) { %>
      <div class="cell"><%- name %><%- num %><%= name %></div>
      <% } %>
    </div>
    <% } %>
  </body>
</html>
